---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import StoryWhyUs from '../components/StoryWhyUs.astro';
import Crossword from '../components/Crossword.astro';
import Services from '../components/Services.astro';
import Graphics from '../components/Graphics.astro';
import Reels from '../components/Reels.astro';
import Classifieds from '../components/Classifieds.astro';
import StoryContinued from '../components/StoryContinued.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="The Indiefluence Times">
  <main class="max-w-[1024px] mx-auto min-h-screen text-black border-x border-black">
    <Header />
    <Hero />
    <StoryWhyUs />
    <Crossword />
    <Services />
    <Graphics />
    <Reels />
    <Classifieds />
    <StoryContinued />
    <Team />
    <Contact />
    <Footer />
  </main>
</Layout>
